body{
  margin: 0;
}
/* ----------------welcome---------------- */
#welcome{
background-color: #023047;
display: flex;
justify-content: space-evenly;
}
#WI img{
  width: 585px;
  padding: 100px;
}
.WC{
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.WC h1{
 font-size: 70px;
 font-family: 'Libre Baskerville', serif;
 color: #ffb703;
 margin: 0;
}
.WC h3{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #219ebc;
  margin: 0;
}
.WC p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20PX;
  color: #219ebc;
}
/* ----------------Why choose us?------------------ */
#advantage{
  padding: 50px;
  text-align: center;
}
#advantage h3{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(12, 12, 12);
  font-size: 3rem;

}
#OutCard{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  justify-items: center;
  padding: 10px;

}
.card{
  border: 2px;
  border-radius: 10px;
  border-color: #3c3c3b;
  background-color: #023047;
  width: 360px;
  height: auto;
  text-align: center;
}
.card img{
  width: 270px;
  height:250px ;
  border-radius: 10px;
  background-color: #ffb703;
}
.card h4{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  color: #ffffff;
  
}
.card p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  text-align: center;
  padding: 13px 50px 10px 47px;
  color: #ffffff;
}
/* ----------Reliable, Trusted, and Best Services------------ */
#Best{
  background-color: #023047;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
#Best h4{
  color: #ff9500;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4rem;
}
#Best p{
  color: #ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
}
.B1 img{
  width: 600px;
}
.area{
  display: flex;
  column-gap:35%;
}
li{
  margin: 0;
	padding: 36px 0 36px 40px;
	list-style: none;
	background-image: url(img/success.png);
	background-repeat: no-repeat;
	background-position: left center  ;
	background-size: 28px;
  font-size: 20px;
  color: #ffffff;
}
/* -------------------Our Services -------------------- */
#Services{
 padding: 50px;
 justify-content: center;
}
#Services h3{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #001824;
}
#ServicesGrid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}
.ServicesCard{
  background-color: #ffb703;
  width:290px ;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ServicesCard img{
  padding: 45px;
  border-radius: 20px;
  width: 200px;
  background-color: #023047;
}
.ServicesCard h4{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  text-align: center;

}
/* --------------Civil Contract------------------ */
#Civil{
  background-color: #d62828;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

#Civil img{
  width: 600px;
}
/* ------------------------------------------------------------- */
/* --------------------300 to 899px------------------ */
@media only screen and (min-width: 300px) and (max-width: 899px)
 {
    /*-------- welcome */
    #welcome{
      
    display: block;
    }
    #WI img{
     width: 300px;
     padding: 0;
    }
    #WI{
      text-align: center;

    }
    .WC{
      padding: 30px;
    }
    .WC h3{
          
    }
    .WC h1{
      font-size: 35px;

     }
     .WC p{
      font-size: 14PX;

     }
     
    /* ------------Why Choose Our Company */
    #advantage{
      padding: 10px;
    }
    #advantage h3{
     
      font-size: 30px;
    
    }
    #OutCard
    {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3,1fr);
    }
    .card{
      border: 2px;
      border-radius: 10px;
      border-color: #3c3c3b;
      background-color: #023047;
      width: 300px;
      height: auto;
      text-align: center;
    }
    .card{
      width: 255px;

    }
    .card img{
      width: 210px;
      height:210px ;
    
    }
    .card h4{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1rem;
      color: #ffffff;
      
    }
    .card p{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 15px;
      text-align: center;
      padding: 13px 50px 10px 47px;
      color: #ffffff;
    }
/* ----------Reliable, Trusted, and Best Services------------ */
#Best{
  
  padding: 20px;
  display: block;
  gap: 00px;
}
#Best h4{

  font-size: 3rem;
}
#Best p{
 
  font-size: 23px;
}
.B1 img{
  width: 350px;
}
.area{
  display: flex;
  justify-content: center;
  column-gap:10%;
}
li{
  margin: 0;
	padding: 36px 0 36px 40px;
	list-style: none;
	background-image: url(img/success.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 28px;
  font-size: 13px;
  color: #ffffff;
}
/* ----------------Our Services ------------------ */
#Services{
  padding: 10px;
 }
 #Services h3{
   font-size: 3rem;
 }
 #ServicesGrid{
   grid-template-columns: 1fr;
   grid-template-rows: 4;
   row-gap: 40px;
 } 
 .ServicesCard h4{
   font-size: 2em;
 }
}
/* ----------------------------------------------------------- */
 /* --------------------900 to 1030px------------------ */
 @media only screen and (min-width: 900px) and (max-width: 1300px)
 {
   /*-------- welcome */
  #welcome{
    display: block;
    padding: 20px 0 20px 0;
    }
    #WI img{
      width: 351px;
     padding: 10px;
    }
    #WI{
      text-align: center;
    }
    .WC{
      padding-left: 15%;
    }
   
    .WC h1{
      font-size: 50px;

     }
     .WC p{
      font-size: 14PX;

     }
      /* ------------Why Choose Our Company */
    #advantage{
      padding: 10px;
    }
    #advantage h3{
     
      font-size: 2rem;
    
    }
    #OutCard
    {
      
    }
    .card{
      border: 2px;
      border-radius: 10px;
      border-color: #3c3c3b;
      background-color: #023047;
      width: 300px;
      height: auto;
      text-align: center;
    }
    .card{
      width: 255px;

    }
    .card img{
      width: 210px;
      height:210px ;
    
    }
    .card h4{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1rem;
      color: #ffffff;
      
    }
    .card p{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 15px;
      text-align: center;
      padding: 13px 50px 10px 47px;
      color: #ffffff;
    }
	 
/* ----------Reliable, Trusted, and Best Services------------ */
#Best h4{
  font-size: 3rem;
}
#Best p{
  font-size: 23px;
}
.B1 img{
  width: 370px;
}
.area{
  justify-content: center;
  column-gap:13%;
}
/* ----------------Our Services ------------------ */
#Services{
  padding: 50px;
  justify-content: center;
 }

 #ServicesGrid{
   grid-template-columns: repeat(2,1fr);
   row-gap: 60px;
 }
}
 
