/*------Start------*/
#top{
    background-color: black;
    
}
#front-top{
    display: grid;
    grid-template-columns: 1fr ;
    z-index: 9;
    
}
#wire{ 
     display: inline-block;
     width:100%;
     position: relative;

}
#out1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 250px;
    border: 2px;
    border-style: solid;
    border-color: darkorange;
}
/* JK */
#out1 h1{
 color: #ffffff;
 font-family:Arial, Helvetica, sans-serif;
 font-weight:900;
 font-size: 67px;
 letter-spacing:4px;
}
#out2{
    padding: 8px;
    border: 2px;
    border-style: dashed;
    border-color: darkorange;
}
#out2 h1{
    font-size: 40px;
    
}
#out3{
    padding: 15px;
    border: 2px;
    border-style: dashed;
    border-color: rgb(239, 235, 231);
}
#op1{
    padding-left: 100px;
    padding-top: 100px ;
}

#op2{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding :53px 40px 120px 100px;
    
}
#line{ 
    width: 100%;
    position: absolute;
    top: 300px;
    left: 0;


}
#line2{
    width: 79%;
    position: absolute;
    top: 500px;
    left: 21%   ;
}
#plug{
    width: 150px;
    position: absolute;
    top: 450px;
    left: 20%   ;
    z-index: 9;
}
#line hr{
    
    border-top-width: 0px;
    margin-top: 0px;
    background-color: darkorange;
    height: 10px;
    
}
#line2 hr{
    border-top-width: 0px;
    margin-top: 0px;
    background-color: darkorange;
    height: 10px;

}
/*--------services--------*/
/* --------Electrical-------- */
html{
    font-size: 1rem;
  }
  #ElectricalImg img {
    position: relative;
    z-index: 5;
    width: 41vw;
    height: 54vh;
  }
  #Scon{
      padding: 50px;
      
  }
  
  .services-order{
      padding: 50px 70px;
      display: grid;
      grid-template-columns: repeat(3,1fr) ;
      grid-template-rows:minmax(150px,auto);
      gap: 10px;
  }
  .one {
      padding-right: 23rem;
      grid-column: 1 / 4;
      grid-row: 1;
    }
  .two {
      padding-top: 10rem;
      grid-column: 1 / 3;
      grid-row: 1 / 8;
    }
  .three {
      
      grid-column: 3 / 4;
      grid-row: 1 / 8;
      position: relative;
    }
  .Sname h2{
    margin: 0px 50px 0px 0px;
    font-size: 5rem;
    text-align: justify; 
        
  }
  .Spara p{
      margin: 0px 50px 0px 0px;
      font-size: 1.5rem;
      color: #784026;
      text-align: justify;
  }
  

    /*-----painting-----*/
     
    #Painting{
        z-index: -1;

        background-color: rgba(255, 140, 0, 0.709);
    }
   
  /* ----Plumbing---- */
  #Plumbing{
    background-color: #ffffff;
  }
  .hexagon {
    margin-top: -530px;
    margin-left: -10%;
    width: 180px;
  }

  .hexagon2{
    margin-top: 220px;
    margin-left: -6%;
    width: 110px;
  }

.hexagon3{
    margin-top: -200px;
    margin-left: 83%;
    width: 200px;
  }
  .hexagon4{
    margin-top: -640px;
    margin-left: 90%;
    width: 120px;
  }
  /* ---Civil work--- */
  #Civil{
    background-color:#71706f ;
  }
  .square{
   margin-top: -510px;
   margin-left: -5%;
   width: 100px; ;
   height: 100px;
   border-color: aliceblue;
   border-style: dashed;
  }
  .square2{
    margin-top: -80px;
   margin-left: 95%;
    width: 60px; 
   height: 60px;
   border-color: rgb(221, 152, 89);
   border-style: dashed;
  }
  .square3{
    margin-top: 320px;
    margin-left: 90%;
    width: 150px; ;
   height: 150px;
   border-color: rgb(250, 175, 36);
   border-style: dashed;
  }
  .square4{
    margin-top: -100px;
    margin-left: -4%;
    width: 80px; 
   height: 80px;
   border-color: #ec7636;
   border-style: dashed;
  }
  /* ============================================================================================================================ */
    @media only screen and (min-width:300px) and (max-width: 650px) 
  {
    html{
      font-size: 0.5rem;
    }
  }


/* ----------300 to 650px---------- */
@media only screen and (min-width: 300px) and (max-width: 650px) {
    #top{
        background-color: black;
 
    }
    #op1 {
        margin: auto;
        padding-left: 1px;
        padding-top: 41px;
    }
    #op2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        padding: 60px 25px 120px 20px;
    }
    #out1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 366px;
        height: 186px;
        border: 2px;
        border-style: solid;
        border-color: darkorange;
    }
    #out1 h1 {
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 35px;
        letter-spacing: 4px;
    }
    #line {
        width: 100%;
        position: absolute;
        top: 193px;
        left: 0;
    }
    #out2 {
        padding: 5px;
        border: 2px;
        border-style: dashed;
        border-color: darkorange;
    }
    #out2 h1 {
        font-size: 15px;
    }
    #line2 {
        width: 79%;
        position: absolute;
        top: 401px;
        left: 21%;
    }
    #plug {
        width: 110px;
        position: absolute;
        top: 359px;
        left: 20%;
        z-index: 9;
    }


    /* --service-- */

    .circle {
        margin-top: -25%;
        margin-left: -40%;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        width: 60px;
        height: 60px;

        border: 3px dashed #784026;
        
      }
      .circle2{
        margin-top: 23%;
        margin-left:40%;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
         width: 80px;
         height: 80px;
      }
      .circle3{
        margin-top: -28%;
        margin-left:45%;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        width: 35px;
        height: 35px;

      }
      .circle4{
        margin-top: 26%;
        margin-left: -42%;
        height: 50px;
        width: 50px;
      }
      .services-order{
        padding: 10px;
        display: grid;
        grid-template-rows: 5fr;
        gap: 10px;
      }
      #Scon{
        padding: 3px;
      }
      .Sname h2{
        padding: 0;
      }
      .Spara p{
        padding: 0;
        margin: 0;
        text-align:justify;
      }
    .one {
        padding-right: 0;
         grid-row: 1/2;
      }
    .two {
        padding-top: 1rem;
        grid-row: 5/7;
        grid-column: 1/4;
      }
    .three {
        grid-row: 3/5;
        grid-column: 1/4;
        position: relative;
        
      }
      #ElectricalImg
      {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #ElectricalImg img {
        width: 20em;
        height: auto;
    }  
     /* Painting */
     .rectangle{
        margin-top: -20%;
        margin-left: -35%;
        height: 67px;
        width: 111px;
    }
    .rectangle2{
        margin-top: 22%;
    margin-left: -40%;
    }
    .rectangle3{
        margin-top: 20%;
        margin-left: 39%;
        height: 63px;
        width: 93px;
    }
    .rectangle4{
        margin-top: -24%;
        margin-left: 40%;
        height: 45px;
        width: 80px;
    }

}
/* ----------650 to 1200px---------- */
@media only screen and (min-width: 651px) and (max-width: 1200px) 
{
    #out1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 621px;
        height: 234px;
        border: 2px;
        border-style: solid;
        border-color: darkorange;
    }
    #op1 {
        padding-left: 16px;
        padding-top: 100px;
    }
    #op2 {
        display: flex;
        justify-content:end;
        align-items:end;
        flex-direction: row-reverse;
        padding: 60px 25px 150px 20px;
    }
    #plug {
        width: 110px;
        position: absolute;
        top: 550px;
        left: 20%;
        z-index: 9;
    }
    #line2 {
        width: 79%;
        position: absolute;
        top: 588px;
        left: 21%;
    }

   
}
